@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  body {
      color: white;
      background-image: url(../../public/themePatter/dark.svg);
    }
}

body {
  color: black;
  background-image: url(../../public/themePatter/light.svg);
}
